$text-black: #333333;
$text-white: #ffffff;
$text-grey: #818181;
$text-grey-title: #555555;
$text-grey-light: #cccccc;
$text-blockquotes: #333333;

$background-light-grey: #f5f5f5;
$background-medium-grey: #ebebeb;
$background-dark-grey: #555555;

$border-grey: #dddddd;

$transparency-effect-275: rgba(255,255,255,0.275);
$transparency-effect-225: rgba(255,255,255,0.225);
$transparency-effect-7: rgba(255,255,255,0.7);
$transparency-effect-6: rgba(255,255,255,0.6);
$transparency-effect-5: rgba(255,255,255,0.5);
