.lower-container {
  padding: 40px 0;

  .form-container {
    .address-container {
      padding-bottom: 20px;

      p {
        margin-bottom: .2rem;
      }
    }
  }

  .text-container h4 {
    //font-family: 'OpenSans Bold';
    font-size: 16px;
  }
}
