@import "../modules/fonts";

// Generic
.medium-headline {
  @include headline-font(800);

  &.light {
    @include normal-font(100);
  }
}

.large-headline {
  @include headline-font(800);
}

.small-headline {
  @include normal-font(100);
}

.container-fluid {
  padding: 0;

  .panel {
    text-align: center;
  }

  .panel.banner {
    background: url(/themes/custom/nl/images/hero-min.jpg) no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 30px;
    position: relative;

    .content {
      z-index: 1;
      background: transparent;
    }

    img#protect-and-serve {
      width: 250px;
      padding-bottom: 30px;
    }

    .banner-header {
      margin-top: 20px;
      line-height: 1.3em;

      h2 {
        font-size: 3em;
      }
    }

    .banner-subtext {
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 1.4em;

      .svg-inline--fa {
        display: block;
        margin: 25px auto;
        font-size: 1.4em;
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }

    .stars-container {
      margin-top: 10px;
    }
  }

  .panel.red-stripe {
    background: #b01725;
    color: #ffffff;

    a {
      padding: 15px;
      display: block;
      color: #ffffff;

      h3 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 20px;
      }

      .svg-inline--fa {
        font-size: 20px;
        margin-left: 20px;
      }
    }
  }

  .panel.results {
    background: white;
    color: black;
    padding: 40px 0 80px 0;

    .litigation-results {
      margin: 60px 0;

      .litigation-result {
        h2 {
          font-size: 70px;
        }

        h4 {
          letter-spacing: 7px;
        }

        .result-description {
          padding-top: 15px;

          p {
            color: #b1b1b1;
          }
        }

        //&:not(.slick-slide) {
        //  display: none;
        //}
      }
    }

    .button {
      padding: 10px 20px;
      border-radius: 8px;
    }
  }

  .panel.protect-and-serve {
    background: url(/themes/custom/nl/images/banners/map_bg-min.jpg) no-repeat;
    background-size: cover;
    color: white;
    padding: 90px 0;

    .panel-inner {
      width: 70%;
      margin: auto;

      h3 {
        font-size: 60px;
        width: 80%;
        margin: auto;
        padding: 10px 0;
      }

      h4 {
        padding: 10px 0;
      }

      h5 {
        padding: 10px 0;
        font-weight: 100;
      }
    }
  }

  .panel.quote {
    background: url(/themes/custom/nl/images/banners/flag-min.jpg) no-repeat;
    background-size: cover;

    .image-container {
      position: relative;
      right: -50px;
      text-align: right;

      img {
        max-height: 500px;
      }

      @media screen and (max-width: 767px) {
        right: 0;

        img {
          max-height: 350px;
        }
      }
    }

    .text-container {
      background: transparent;
      text-align: right;
      padding-top: 80px;

      p {
        margin-top: 0;
        margin-bottom: 1rem;

        .svg-inline--fa {
          color: #b01725;
          font-size: 27px;
          padding: 0 15px 0 0;
          position: relative;
          top: -15px;
        }
      }

      @media screen and (max-width: 767px) {
        text-align: center;
        padding: 50px 25px 10px 25px;

        h3 {
          font-size: 15px;
        }
      }
    }
  }

  .panel.video {
    background: url(/themes/custom/nl/images/banners/bg-img-we-the-people-min.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;

    iframe {
      margin-top: 40px;
      width: 50%;

      @media screen and (max-width: 991px) {
        width: 90%;
      }
    }
  }
}

// Content Bottom Region
.trust-container {
  padding: 60px 0 !important;
  text-align: center;

  h3 {
    padding: 10px 0;
  }

  .logos-container {
    padding: 40px 10px 40px 10px;
    align-items: center;

    .col-3 {
      margin: 0 10px;

      img {
        width: 100%;
      }
    }
  }
}

.button.clear {
  background: transparent;
  border-radius: 5px;
  text-align: center;
  color: #ffffff !important;
  padding: 10px;
  border: solid 1px #ffffff;
  cursor: pointer;
}

.button.red {
  background: #b01725 !important;
  border-radius: 5px;
  text-align: center;
  color: #ffffff !important;
  padding: 10px;
  border: solid 1px #ffffff;
  cursor: pointer;
}
