.our-results {
  .region-content {
    padding: 0;
  }

  .container {
    .more-results {
      border-top: solid 2px #c3c3c3;
      padding-top: 20px;
      margin-bottom: 20px;

      h2 {
        padding-bottom: 15px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          padding: 20px 0;

          .read-more {
            color: #b01725;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.view-results {
  .inner-text {
    .hide {
      display: none;
    }

    .show {
      display: block;
    }
  }
}

.featured-result {
  color: white;
  margin: 30px 0;
  padding: 30px 50px;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  .bar.white {
    border-top: solid 2px white;
    margin: 10px 0;
  }
}
